<?xml version="1.0" encoding="UTF-8"?>
<cartridge_basiclti_link xmlns="http://www.imsglobal.org/xsd/imslticc_v1p0"
 xmlns:blti = "http://www.imsglobal.org/xsd/imsbasiclti_v1p0"
 xmlns:lticm ="http://www.imsglobal.org/xsd/imslticm_v1p0"
 xmlns:lticp ="http://www.imsglobal.org/xsd/imslticp_v1p0"
 xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation = "http://www.imsglobal.org/xsd/imslticc_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticc_v1p0.xsd
 http://www.imsglobal.org/xsd/imsbasiclti_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imsbasiclti_v1p0.xsd
 http://www.imsglobal.org/xsd/imslticm_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticm_v1p0.xsd
 http://www.imsglobal.org/xsd/imslticp_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticp_v1p0.xsd">
 <blti:launch_url>{{ tool.url }}</blti:launch_url>
 <blti:title>{{ tool.title }}</blti:title>
 <blti:description>{{ tool.description }}</blti:description>
 <blti:extensions platform="canvas.instructure.com">
 <lticm:property name="privacy_level">public</lticm:property>
 <lticm:property name="domain">{{ tool.domain }}</lticm:property>
 <lticm:property name="text">{{ tool.title }}</lticm:property>
 {% for nav in tool.nav %}
 <lticm:options name="{{ nav.type }}">
 <lticm:property name="enabled">{{ nav.enabled }}</lticm:property>
 <lticm:property name="default">{{ nav.default }}</lticm:property>
 {% if nav.url %}<lticm:property name="url">nav.url</lticm:property>{% endif %}
 {% if nav.icon_url %}<lticm:property name="icon_url">https://dl.dropboxusercontent.com/u/1647772/lti.png</lticm:property>{% endif %}
 {% if nav.labels %}<lticm:options name="labels">
 {% for label in nav.labels %}
   <lticm:property name="{{ label.locale }}">{{ label.label }}</lticm:property> 
 {% endfor %}</lticm:options>
 {% endif %}
 </lticm:options>
 {% endfor %}
 </blti:extensions>
</cartridge_basiclti_link>
